*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.vertical-layout,
.horizontal-layout {
  display: flex;
  flex:1;
}
.horizontal-layout { flex-direction: row; }
.vertical-layout { flex-direction: column; }

.center-content{
  display: flex;
  justify-content: center;
  align-items: center;
}