.SideBarItem{
    padding: 12px 5px;
    background-color: white;
    border-bottom: solid 1px #f5f5f5;
    border-top: solid 1px #f5f5f5;
}

.Hover{ cursor: pointer;}
.Hover:hover{ background-color: #f5f5f5; }

.SideBarItem h5{ color: #939ba3;} 

.Heading{
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}


.Title {
    padding-bottom: 7px;
    width: 70%!important;
}
.Address {
    padding-bottom: 4px;
    width: 50%!important;
    height: 20px!important;
    box-sizing: content-box;
}

.Distance {
    width: 35%!important;
    height: 20px!important;
}


.Distance b{
  color: rgb(129, 126, 126);
}





